
.btn {
	border: none;
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
}

.secondary {
    background-color: var(--color-secondary);
    color: var(--color-on-primary);
}

.secondary.subdued {
    background-color: var(--color-secondary-subdued);
}

.outline {
	border: 1px solid;
}

.primary {

}

.primary.outline {
	color: var(--color-primary);
	border-color: var(--color-primary);
	background-color: var(--color-on-primary);
}

.disabled {
	background-color: gray;
	color: white;
}

.btn:hover, .btn:active {
	filter: brightness(90%);
	cursor: pointer;
}