
.btn {
	border: none;
	font-size: 1.2rem;
	margin: 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 10px;
}

.secondary {
    background-color: var(--color-secondary);
    color: var(--color-on-primary);
}

.secondary.subdued {
    background-color: var(--color-secondary-subdued);
}

.btn:hover, .btn:active {
	filter: brightness(90%);
	cursor: pointer;
}