:root {
    --color-primary: #724ed0;
    --color-secondary: #ed1b92;
    --color-secondary-subdued: #e3a6c8;
    --color-danger: #dc3545;
    --color-on-primary: #ffffff;
    --color-text: #1D2125;
    --color-light-text: #555657;
    --color-shadow: rgba(0, 0, 0, 0.35);
}